@use './abstract/variaveis';
@use './components/header';
@use './components/nosso-espaco';
@use './components/servicos';
@use './components/desconto';
@use './components/contatos';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}